html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
    font-family: alegreya, serif;
    color: #56534C;
    margin-bottom: 10px;
}

h3 {
    font-size: 44px;
    font-family: alegreya, serif;
    color: #56534C;

}

h4 {
    font-size: 30px;
    font-family: alegreya, serif;
}

h5 {
    font-size: 14px;
    color: rgb(218, 163, 61);
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 14px;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section {
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* scroll-snap-align: start; */
}

.scrollAlign {
    scroll-snap-align: start;
}


.header {
    background-image: url("img/1/hero.png");
    color: #FFFFFF;
    display: block;
}

.header h1 {
    font-size: 92px;
    letter-spacing: 4px;
    color: #fffefa;
}

.header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    
}

.navbar {
    max-height: 50px;
    background-color: rgba(86, 83, 76, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;    
}

.navbar li {
    list-style: none;
    display: inline;
}



.logo {
    font-family: 'Sassy Frass', cursive;
    font-size: 3rem;
    letter-spacing: 3px;
    
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: alegreya, serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0 40px;
}

.menu a:hover {
    color: rgb(218, 163, 61);
}

.social li {
    margin-left: 25px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    margin-top: 250px;
    color: #fffefa;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16)
}

.slogan {
    max-width: 544px;
}

.slogan p {
    text-align: center;
    color: #fffcee;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16)
}

.menuBtn {
    font-family: alegreya, serif;
    width: 201px;
    height: 51px;
    background-color: rgba(86, 83, 76, 0.6);
    border-color: #9E9C93;
    border-style: dashed;
    color: #FFFFFF;
    letter-spacing: 6px;
    margin-top: 85px;
}

.bottomBorder {
    margin-top: 265px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* Second */

.sectionTwo {    
    flex-shrink: 0;    
    background-image: url("img/2/bg.png");    
}

.leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftSide h2 {
    font-size: 48px;
    font-family: alegreya, serif;
    margin-bottom: 2px;
    color: #56534C;
}

.leftSide h5 {
    margin: 0 0 50px 0;
    
}

.leftSide h4 {
    font-size: 24px;
    font-family: alegreya, serif;
    color: #56534C;
}

.secondText {
    width: 484px;
    color: #56534C;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

.cheefPhoto {
    display: flex;
    align-items: center;
    
}

.cheefPhoto img {
    border-radius: 50%;
    margin: 0  20px ;
}

.cheefPhoto p {
    font-size: 24px;
    font-family: alegreya, serif;
    color: #56534C;
    
}

.decorationLine {
    display: flex;
    align-items: center;
    border-top: 1px solid #bbb4a7;
    border-bottom: 1px solid #bbb4a7;
    height: 50px;
}

.bottomText p {
    font-family: 'Sassy Frass', cursive;
    font-size: 48px;
    color: rgb(218, 163, 61);
    text-align: center;
}





.rightSide {    
    width: 50%;
    position: relative;
}

.top {
    margin-top: 170px;
    display: flex;    
}

.bottom {
    display: flex;    
}

.squareImg {
    width: 296px;
    height: 251px;
    overflow: hidden;
    margin: 10px; 
    outline: 5px solid #ffff;
    outline-offset: -10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}


.sectionTwoOverlay {
    height: 247px;
    width: 247px;
    background-image: url(img/2/rose.png);
    opacity: 0.95;
    position: absolute;
    bottom: 390px;
    left: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.sectionTwoOverlay p {
    font-size: 30px;
    color: rgb(218, 163, 61);
    text-align: center;
}


/* Three */

.sectionThree {    
    background-image: url("img/3/bg.png");    
    justify-content: center;
    align-items: center;    
}

.innerSection {
    width: 966px;
    height: 513px;
    display: flex;
    background-color: #FFFFFF;
    background-image: url("img/3/cardBg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.leftThree {
    height: 100%;
    width: 40%;
    background-image: url("img/3/1.png");
    
}


.rightThree {
    height: 100%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

.rightThree h2 {
    font-size: 48px;
    font-family: alegreya, serif;
    margin-bottom: 2px;
    color: #56534C;
}

.rightThree h5 {
    margin: 0 0 50px 0;
    
}

.sliderThree {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}

.sliderImg {
    height: 90px;
    border-radius: 50%;
}

.sliderArrow {
    height: 30px;
}

.overlayThree {
    height: 202px;
    width: 202px;
    background-color: #FFFFFF;
    background-image: url(img/3/overlayBg.png);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: -30px;
    right: -30px;
}

.overlayThreeInner {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    /* opacity: 0.75; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Four */

.sectionFour {    
    background-image: url("img/4/bg.png");
    background-position: center;     
}


.leftFour {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}


.leftFour h2 {
    margin-bottom: 2px;
    color: #FFFFFF;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16)
}

.leftFour h5 {
    margin: 0 0 50px 0;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16)
    
}

.leftFour h4 {
    font-size: 30px;
    font-family: alegreya, serif;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16)
}

.leftFour p {
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16)
}

.leftFour .price {
    font-size: 36px;
    color: rgb(218, 163, 61);
    margin: 0;
    margin-bottom: 50px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16)
}


.rightFour {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.topLetter {
    height: 601px;
    width: 441px;
    background-color: #F3F1E9;
    /* background: linear-gradient(45deg, transparent 1.5em, #F3F1E9 0); */
    box-shadow: 35px -10px 62px -22px #000000;
    margin: 10px; 
    outline: 5px dashed rgb(182, 182, 182);
    outline-offset: -10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letterHeader {
    margin-top: 50px;
    height: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: alegreya, serif;
    color: #56534C;
}



.divider {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.letterContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 331px;
}

/* .letterContent h1 {
    font-size: 44px;
    font-family: alegreya, serif;
    color: #56534C;

} */

.letterContent p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    line-height: 2;
}

.readBtn {
    margin-top: 20px;
    width: 191px;
    height: 51px;
    background-color: transparent;
    border: 1px solid #9E9C93;
    font-family: alegreya, serif;
    color: rgb(218, 163, 61);
    font-size: 18px;
}


/* Fife */

.sectionFife {
    display: block;
    background-image: url("img/5/bg.png");    
}

.topFife {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .topFife h1 {
    font-size: 48px;
    font-family: alegreya, serif;
    color: #56534C;
    margin-bottom: 10px;
} */

.topFife p {
    margin: 0;
    font-family: alegreya, serif;
    color: rgb(218, 163, 61);
    letter-spacing: 2px;
}

.bottomFife {
    display: flex;
}

.leftFife {
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftFife img {
    margin-bottom: 15px;
}

.leftFife h4 {
    color: rgb(218, 163, 61);
    margin: 0;
}

.leftFife p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    line-height: 2;
    width: 350px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;

}


.rightFife {
    width: 60%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid black; */
}

.card {
    height: 557px;
    width: 841px;
    background-image: url("img/5/hero.png");
    border: 10px solid #FFFFFF;
    box-shadow: 0px 0px 45px -12px #B5B5B5;
    /* position: relative; */
    display: flex;
}

.cardOverlay {
    height: 201px;
    width: 201px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.cardOverlayHead {
    font-size: 18px;
    font-weight: 600;
    color: rgb(218, 163, 61);
    font-family: alegreya, serif;
    margin: 0;

}

.cardOverlayNum {
    font-size: 56px;
    font-family: alegreya, serif;
    color: #56534C;
    margin: 0;
}

.cardOverlayNumBig {
    font-size: 85px;
    font-weight: 600;
    font-family: alegreya, serif;
    color: rgb(218, 183, 118);
    margin: 0;
}

.readyIn {
    background-color: rgba(255, 255, 255, 0.75);
}

.cardOuter {
    background-color: #FFFFFF;
    background-image: url("img/5/cardBg.png");
}

.cardOverlayMins{
    font-size: 16px;
    color: #56534C;
    font-family: alegreya, serif;
    margin: 0;
}

.cardRight {
    width: 50%;
    position: relative;
    
}

.cardsOutstand {
    position: absolute;
    height: 605px;
    width: 201px;
    top: -28px;
    right: -0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardLeft {
    width: 50%;
    position: relative;
}

.recipe {
    width: 172px;
    height: 61px;
    background-color: #FFFFFF;
    border: 1px dashed rgb(218, 163, 61);
    position: absolute;
    top: 525px;
    left: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe p {
    font-size: 18px;
    color: rgb(218, 163, 61);
    font-family: alegreya, serif;
    letter-spacing: 2px;
}



/* FOOTER */

footer {
    height: 241px;
    width: 100%;
    background-image: url("img/5/bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.footerInner{
    width: 70%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.footerLeft{
    height: 72px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #bbb4a7;
    border-bottom: 1px solid #bbb4a7;
}

.footerCenter{
    height: 72px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerRight {
    height: 72px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #bbb4a7;
    border-bottom: 1px solid #bbb4a7;
}


.gustoso {
    font-size: 50px;
    font-family: 'Sassy Frass', cursive;
    letter-spacing: 3px;
    color: #56534C;

}

.footerMenu {
    font-family: alegreya, serif;
    letter-spacing: 2px;
    color: #56534C;
}




/* h1 {
    

font-family: alegreya, serif;

font-weight: 700;

font-style: normal;

}

h2 {
    font-family: 'Playfair Display', serif;
} */