:root {
	--gray:  #56534C;
	--goldPrimary: #A47D5E;
	--goldSecondary: #dbb179;
	
}

body {
	
}

header {
	position: sticky;
	top: 0;
	z-index: 1000;
}

nav {
	display: flex;
	justify-content: center;
	background-color: rgba(86,83,76, 0.5);
	min-height: 40px;
	width: 100%;
	position: absolute;
	top: 0px;
	transition: ease-in-out;
	transition-duration: 0.1s;
	
	
}



p {
	color: #56534C;
}

.logo {	
	font-size: 2rem;
	margin-left: 15px;
}

.logo p {
	font-family: 'Sassy Frass', cursive;
	font-size: 2.5rem;
	margin: 0;
	color: #fff;
}

.expandMenu{
	flex: 2 1 auto;
	
}

.topMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 15px;
	display: none;
			
}

.topMenu a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	margin-top: 30px;
	letter-spacing: 6px;
}

.topMenu a, p {
	color: #FFFFFF;
    font-family: 'Alegreya Sans', sans-serif;
	
}

.social {
	display: none;
	margin-right: 10px;
	color: #FFFFFF;
}


/*Burger Button*/

.burgerBtn{
	margin-top: 15px;
	margin-right: 15px;
}

.burgerBtnInner {
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	cursor: pointer;
	
}

.burgerBtnInner span{
	position: absolute;
	background-color: #fff;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;

}

.burgerBtnInner:before,
.burgerBtnInner:after{
	content: '';
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
}

.burgerBtnInner:before{
	top: 0;

}
.burgerBtnInner:after{
	bottom: 0;
}

/* .topMenu{
	
} */

.topMenu a:hover {
    color: rgb(218, 163, 61);
}


.active {
	display: flex;
	
}

.activeBg {
	background-color: rgba(86,83,76, 0.95);
}

/*SECTIONS*/

.section{
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
}


/* SECTION ONE */

.sectionOne {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("img/1/bg.png");
	text-align: center;
}

.sectionOne h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 62px;
	letter-spacing: 1px;
	color: #fffefa;
	text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
}

.slogan p {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	margin: 0 20px;
	color: #fffefa;
	text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
	
}

.slogan {
	width: 90%;
	
}

.menuBtn {
    font-family: alegreya, serif;
    width: 201px;
    height: 51px;
    background-color: rgba(86, 83, 76, 0.6);
    border-color: #9E9C93;
    border-style: dashed;
    color: #FFFFFF;
    letter-spacing: 6px;
    margin-top: 85px;
}






/* SECTION TWO */






.sectionTwo {
	background-image: url("img/2/bg.png");
	display: flex;
	flex-direction: column;
	max-height: 200vh;
	height: 100%;

}

.sectionTwoLeft {
	/* background-color: aquamarine; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionTwoLeft h2 {
	font-size: 4em;
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 2px;
    color: #56534C;
	text-align: center;
}

.sectionTwoLeft h5 {
	font-size: 14px;
    color: rgb(218, 163, 61);
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 15px 0;
    text-align: center;
}

.sectionTwoLeft h4 {
	font-size: 30px;
	font-family: 'Alegreya Sans', sans-serif;
	margin: 15px 0;
	
}

.sectionTwoLeft p {
	color: #56534C;
}

.secondText {
	max-width: 484px;
    width: 90%;
    color: #56534C;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

.cheefPhoto {
    display: flex;
    align-items: center;
    
}

.cheefPhoto img {
    border-radius: 50%;
    margin: 0  20px ;
}

.cheefPhoto p {
    font-size: 24px;
    font-family: alegreya, serif;
    color: #56534C;
    
}

.decorationLine {
    display: flex;
    align-items: center;
    border-top: 1px solid #bbb4a7;
    border-bottom: 1px solid #bbb4a7;
    height: 50px;
}

.bottomText p {
    font-family: 'Sassy Frass', cursive;
    font-size: 48px;
    color: rgb(218, 163, 61);
    text-align: center;
	margin: 15px 0;
}







.sectionTwoRight {
	/* background-color: burlywood; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.sectionTwoRihgtInner {
	max-width: 600px;
	max-height: 500px;
	width: 90%;
	padding-bottom: 20px; 
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 3px;
	aspect-ratio: 1 / 1;
	position: relative;	
}


/* ------------- */

.sectionTwoOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionTwoOverlayInner{
	max-width: 247px;
	max-height: 247px;
	height: 50%;
	width: 50%;	
	background-image: url(img/2/rose.png);
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.sectionTwoOverlayInner p {
	font-size: 30px;
    color: rgb(218, 163, 61);
    text-align: center;
}

/* ------------- */








.squareImg {
	width: 100%;
  	height: 100%;
	overflow: hidden;
    outline: 5px solid #ffff;
    outline-offset: -10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	
}


.card1 {
	background-image: url("img/2/1.png");
}

.card2 {
	background-image: url("img/2/2.png");
}
.card3 {
	background-image: url("img/2/3.png");
}
.card4 {
	background-image: url("img/2/4.png");
}





/* SECTION THREE */


.sectionThree {
	background-image: url(img/3/bg.png);
	background-position: center;
	height: 100vh;
}

.sectionThreeInner {
	display: grid;
	grid-template-rows: 40% 60%;
	justify-items: center;
	grid-row-gap: 25px;
}

.sectionThreeLeft {
	background-image: url(img/3/1.png);
	background-position: right;
	min-height: 300px;
	max-width: 600px;
	height: 100%;
	width: 90%;
	outline: 5px solid #ffff;
    outline-offset: -10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sectionThreeRight {
	background-color: #FFFFFF;
	height: 100%;
	width: 90%;
	max-width: 600px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sectionThreeRightInner {
	background-image: url(img/3/cardBg.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 332px;
	position: relative;
}

.sectionThreeRightText {
	max-width: 484px;
	width: 90%;
	text-align: center;

}

.sectionThreeRightText p {	
	color: #56534C;
	font-family: alegreya, serif;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.6;
}

.sectionThreeRight h2 {
	font-size: 4em;
	font-family: 'Alegreya Sans', sans-serif;
	color: #56534C;
	margin: 20px 10px 0 0;
	width: 90%;
}

.sectionThreeRight h5 {
	font-size: 14px;
	color: rgb(218, 163, 61);
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 15px 0;
	text-align: center;
}

.sliderThree {
	/* display: none; */
	width: 90%;
	max-width: 378px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 15px 0px;
}

.sliderArrow {
	max-height: 30px;
	height: 100%;
}

/* ------------------------- */

.overlayThree {
	display: block;
    height: 100px;
    width: 100px;
    background-color: #FFFFFF;
    background-image: url(img/3/overlayBg.png);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.overlayThreeInner {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
}



/* -------------------------- */

.cardOverlayHead {
    font-size: 18px;
    font-weight: 600;
    color: rgb(218, 163, 61);
    font-family: alegreya, serif;
    margin: 0;
}

.cardOverlayNumBig {
    font-size: 85px;
    font-weight: 600;
    font-family: alegreya, serif;
    color: rgb(218, 183, 118);
    margin: 0;
}

.cardOverlayMins {
    font-size: 16px;
    color: #56534C;
    font-family: alegreya, serif;
    margin: 0;
}





/* SECTION FOUR */

.sectionFour {
	background-image: url(img/4/bg.png);
	background-position: right;
	height: 160vh;
	overflow: hidden;
	
}

.sectionFourInner {
	display: grid;
	grid-template-rows: 60% 40%;
	justify-items: center;
	
}

.leftFour {
	height: 100%;
	width: 95%;
	max-width: 600px;
	text-align: center;
}

.leftFour h2 {
    margin-bottom: 2px;
    color: #FFFFFF;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 48px;
}

.leftFour h5 {
    margin: 0 0 50px 0;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
	font-size: 14px;
	color: rgb(218, 163, 61);
	font-family: 'Montserrat', sans-serif;
}

.leftFour h4 {
    font-size: 30px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 10px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
}

.leftFour p {
    color: #FFFFFF;
    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
	font-size: 14px;
}

.leftFour .price {
    font-size: 36px;
    color: rgb(218, 163, 61);
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 80px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
}





.rightFour {
	background-color: cornflowerblue;
	width: 90%;
	max-width: 600px
	
}

.rightFour p {
	color: #56534C;
	font-size: 14px

}

.topLetter {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	background-color: #F3F1E9;
	box-shadow: 35px -10px 62px -22px #000000;
	outline: 5px dashed rgb(182, 182, 182);
    outline-offset: -10px;
	padding: 10px;
}

.divider {
	text-align: center;
}

.divider img {
	/* display: none; */
	width: 90%;
  	height: auto;
}

.letterHeader {
	width: 90%;
	max-width: 600px;
	display: flex;
	justify-content: space-around;
	margin-top: 15px ;
}

.letterHeader p {
	font-size: 16px;
}

.letterContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.letterContent h3 {
	font-size: 44px;
	font-family: 'Alegreya Sans', sans-serif;
	color: #56534C;
	margin: 15px 0;
}

.letterText {
	width: 95%;
	max-width: 484px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	line-height: 2;
}

.readBtn {
    margin-top: 10px;
	margin-bottom: 15px;
    width: 191px;
    height: 51px;
    background-color: transparent;
    border: 1px solid #9E9C93;
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(218, 163, 61);
    font-size: 18px;

}





/* SECTION FIFE */


.sectionFife {
	background-color: #f3f1e9;
	height: 150vh;
	background-position: center;
	
}

.sectionFifeInner {
	height: 100%;
	display: grid;
	grid-template-rows: 10% 90%;
}

.topFife {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 15px;
}

.topFife h2 {
	font-size: 44px;
	font-family: 'Alegreya Sans', sans-serif;
	color: #56534C;
	margin: 0;
}

.topFife p {
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(218, 163, 61);
    letter-spacing: 2px;
	font-size: 14px;
	/* margin-bottom: 15px; */
}

.bottomFife {
	display: grid;
	grid-template-rows: 60% 40%;
	overflow: hidden;

}

.leftFife {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 15px;
}


.leftFife img {
    /* margin-bottom: 15px; */
}

.leftFife h4 {
	margin: 10px 0;
	color: rgb(218, 163, 61);
	font-size: 30px;
	font-family: 'Alegreya Sans', sans-serif;
}

.leftFife p {
	font-family: 'Montserrat', sans-serif;
	color: #56534C;
	letter-spacing: 2px;
	line-height: 2;
	font-size: 14px;
	text-align: center;
	max-width: 484px;
	width: 90%;
}

.sliderImg {
    height: 65px;
    border-radius: 50%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.rightFife {
	/* background-color: lightpink; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}





.card {
    background-position: center;
	min-height: 300px;
	max-width: 600px;
	height: 50%;
	width: 90%;
    background-image: url("img/5/hero.png");
	background-repeat: no-repeat;
    border: 10px solid #FFFFFF;
    box-shadow: 0px 0px 45px -12px #B5B5B5;
    position: relative;
    display: flex;
}


.cardLeft {
    width: 50%;
    position: relative;
}

.cardRight {
    width: 50%;
    position: relative;
}


.recipe {
    width: 150px;
    height: 41px;
    background-color: #FFFFFF;
    border: 1px dashed rgb(218, 163, 61);
    position: absolute;
    bottom: -25px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe p {
    font-size: 16px;
    color: rgb(218, 163, 61);
    font-family: alegreya, serif;
    letter-spacing: 2px;
}

/* ------------------------------------------ */
.cardsOutstand {
    position: absolute;
    height: 340px;
    width: 101px;
    top: -20px;
    right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardOverlay {
    height: 101px;
    width: 101px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardOuter {
    background-color: #FFFFFF;
    background-image: url("img/5/cardBg.png");
	width: 100%;
}

.readyIn {
    background-color: rgba(255, 255, 255, 0.75);
}
.cardOverlay {
    height: 101px;
    width: 101px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardOverlayHead {
    font-size: 18px;
    font-weight: 600;
    color: rgb(218, 163, 61);
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
}

.cardOverlayNum {
    font-size: 46px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #56534C;
    margin: 0;
}

.cardOverlayMins {
    font-size: 16px;
    color: #56534C;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
}

.cardOverlayNumBig {
    font-size: 48px;
    font-weight: 600;
	font-family: 'Alegreya Sans', sans-serif;
    color: rgb(218, 183, 118);
    margin: 0;
}





/* FOOTER */


footer {
	height: 30vh;	
   	background-color: #f3f1e9;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	/* border-top: 1px solid #bbb4a7; */

    
}

.divider {
	display: none;
}

.footerInner {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 80%;
	grid-template-areas:
	"center center"
	"left right";
}

.footerLeft{
	grid-area: left;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.footerCenter {
	grid-area: center;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footerRight {
	grid-area: right;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.footerMenu {
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    color: #56534C;
}

.gustoso {
    font-size: 50px;
    font-family: 'Sassy Frass', cursive;
    letter-spacing: 3px;
    color: #56534C;
	margin: 0;
	margin-top: 5px;
	
}







@media (min-width: 768px){

	.container {
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		height: 100vh;
	}

	.scrollAlign {
		scroll-snap-align: start;
	}


	nav {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
	}
	
	.expandMenu{
    
		max-width: 1000px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
}

.topMenu {
	height: 100%;
	margin: 0px;	
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	display: flex;
	

}

.topMenu a {
	margin: 0;
}

.social {
	display: block;
}

.social i {
	margin: 0 0.5rem;
}

.socialInner {
	display: flex;
	text-align: center;
	flex-wrap: nowrap;
}

.burgerBtn {
	display: none;
}

.logo {
	/* margin-right: 10px; */
}




.sectionOne h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 92px;
	letter-spacing: 4px;
	color: #fffefa;
}

.slogan {
	width: 544px;
}

.sectionOne p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	margin: 0 15px;
	color: #fffefa;
	text-shadow: 0px 1px 4px rgba(0,0,0,0.16);
}
	


/* SECTION TWO */




.sectionTwo {
	flex-direction: row;
	height: 100vh;
	
}

.sectionTwoLeft {
	justify-content: center;
}

.sectionTwoRight{
	align-items: flex-start;
	justify-content: center;
}

.sectionTwoRihgtInner {
	max-width: 700px;
	max-height: 600px;
	width: 95%;
	/* padding-bottom: 20px;  */
	padding: 0;
	display: grid;
	grid-template-columns: 50% 50%;
	/* grid-gap: 20px; */
	aspect-ratio: 1 / 1;	
	position: relative;
}




.sectionTwoOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionTwoOverlayInner{
	max-width: 247px;
	max-height: 247px;
	width: 50%;
	height: 50%;	
	background-image: url(img/2/rose.png);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.sectionTwoOverlayInner p {
	font-size: 30px;
    color: rgb(218, 163, 61);
    text-align: center;
}

.squareContent {
	margin: 2px;
}

/* SECTION THREE */

.sectionThree {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.sectionThreeInner {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 100% 100%;
	max-width: 966px;
	max-height: 513px;
	width: 90%;
	height: 100%;
	/* justify-items: center;
	align-content: center; */
}

.overlayThree {
	display: block;
    height: 202px;
    width: 202px;
    background-color: #FFFFFF;
    background-image: url(img/3/overlayBg.png);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: -30px;
    right: -30px;
}

.overlayThreeInner {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------- */


.sectionThreeLeft {	
	/* height: 513px; */
	width: 100%;
	outline: 0;
    outline-offset: 0;
    
}

.sectionThreeRight {
	background-color: #FFFFFF;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




.sectionThreeRightInner {
	background-image: url(img/3/cardBg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;	
	padding-left: 60px;
	padding-right: 60px;
	height: 100%;
	
}

.sectionThreeRightText {
	width: 100%;
	text-align: center;

}

.sectionThreeRightText p {	
	color: #56534C;
	font-family: alegreya, serif;
	text-align: left;
	letter-spacing: 2px;
	line-height: 1.6;
}

.sectionThreeRight h2 {
	font-size: 3em;
	font-family: 'Alegreya Sans', sans-serif;
	color: #56534C;
	margin: 20px 10px 0 0;
	text-align: left;
}

.sectionThreeRight h5 {
	font-size: 14px;
	color: rgb(218, 163, 61);
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 15px 0;
	/* text-align: center; */
}

.sliderThree {
	width: 100%;
	max-width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}

.sliderImg {
    height: 90px;
    border-radius: 50%;
}

.sliderArrow {
    height: 30px;
}


/* SECTION FOUR */

.sectionFour {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.sectionFourInner {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	height: 100%;
	width: 85%;
	justify-items: center;
	align-items: center;
}

.leftFour {
	height: auto;
	/* margin-left: 100px; */
}

.rightFour {
	all: initial;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.topLetter {
	height: 601px;
	width: 441px;
	
	/* height: 100%;
	width: 100%; */
}

.letterContent h3 {
	margin: 44px 0;
}


.letterText {
	width: 100%;
	max-width: 331px;
}

.readBtn {
	margin-top: 20px;
}

/* SECTION FIFE */

.sectionFife {
	background-image: url(img/5/bg.png);
	height: 100vh;
	background-position: center;
	
}

.sectionFifeInner {
	height: 100%;
	display: grid;
	grid-template-rows: 20% 80%;
	
}

.bottomFife {
	grid-template-columns: 40% 60%;
	grid-template-rows: 100%;
}

/* ------------------------------- */

.topFife {
	max-height: 150px;
	margin: 0;
	padding-top: 15px;
}

.topFife h2 {
    font-size: 48px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #56534C;
    margin: 0;
}

.topFife p {
    margin: 0;
    font-family: alegreya, serif;
    color: rgb(218, 163, 61);
    letter-spacing: 2px;
	font-size: 14px;
}


.rightFife{
	justify-content: flex-start;
}

.leftFife {
	padding: 0;
}

.leftFife p {
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	line-height: 2;
	width: 350px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

.card {
	all: initial;
    max-height: 557px;
    max-width: 841px;
	height: 100%;
	width: 100%;
    background-image: url("img/5/hero.png");
    border: 10px solid #FFFFFF;
    box-shadow: 0px 0px 45px -12px #B5B5B5;
    position: relative;
    display: flex;
	}

.recipe {
    width: 172px;
    height: 61px;
    background-color: #FFFFFF;
    border: 1px dashed rgb(218, 163, 61);
    position: absolute;
    top: 525px;
    left: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsOutstand {
    position: absolute;
    height: 605px;
    width: 201px;
    top: -28px;
    right: -0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardOverlay {
    height: 201px;
    width: 201px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardOverlayHead {
    font-size: 18px;
    font-weight: 600;
    color: rgb(218, 163, 61);
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
}

.cardOverlayNum {
    font-size: 56px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #56534C;
    margin: 0;
}

.cardOverlayMins {
    font-size: 16px;
    color: #56534C;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
}

.readyIn {
    background-color: rgba(255, 255, 255, 0.75);
}
.cardOverlay {
    height: 201px;
    width: 201px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardOverlayNumBig {
    font-size: 85px;
    font-weight: 600;
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(218, 183, 118);
    margin: 0;
}




/* FOOTER */

footer {
    height: 241px;
    width: 100%;
    background-image: url("img/5/bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.footerInner{
	all: initial;
    width: 70%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.footerLeft{
    height: 72px;
    width: 30%;
	min-width: 277px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #bbb4a7;
    border-bottom: 1px solid #bbb4a7;
}

.footerCenter{
    height: 72px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerRight {
    height: 72px;
    width: 30%;
	min-width: 277px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #bbb4a7;
    border-bottom: 1px solid #bbb4a7;
}


.gustoso {
    font-size: 50px;
    font-family: 'Sassy Frass', cursive;
    letter-spacing: 3px;
    color: #56534C;
	

}

.footerMenu {
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    color: #56534C;
	flex-wrap: nowrap;
	
}















}